<table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
  <!-- columns -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> id </th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Kliendi nimi </th>
    <td mat-cell *matCellDef="let element">{{ element.firstName }} {{ element.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="dateOfBirth">
    <th mat-header-cell *matHeaderCellDef> Sünnikuupäev </th>
    <td mat-cell *matCellDef="let element">
      {{
        element | numbersToDate: fieldnames | amDateFormat: 'L'
      }}
    </td>
  </ng-container>

  <!-- expansion detail -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let client" [attr.colspan]="displayedColumns.length">
      <div [@detailExpand]="client === expandedElement ? 'expanded' : 'collapsed'" class="detail-block">
        <div class="flex wrap pb15 pt15">
          <div *ngFor="let field of displayedDataFields" class="col-4 mb15">
            <bo-data-display
              [value]="client[field.name]"
              [label]="field.label || field.name"
            ></bo-data-display>
          </div>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- rows -->
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row
      *matRowDef="let row; columns: displayedColumns;"
      class="client-row"
      (click)="expandedElement = expandedElement === row ? null : row">
  ></tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="expanded-row"></tr>
</table>
