/* You can add global styles to this file, and also import other style files */

*, *:before, *:after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.col-4 {
  flex-basis: 25%;
  padding-left: 5px;
  padding-right: 5px;
}

.mb15 {
  margin-bottom: 15px;
}

.pt15 {
  padding-top: 15px;
}

.pb15 {
  padding-bottom: 15px;
}
